snippet note "Create a new note template, just like md files"
# ${1:`!v toupper(expand("%:h:t"))`} Meeting Notes `!v strftime("%F")`
Attend: KE, $2

## Notes
* $3
endsnippet

snippet label "Add a label to a wiki index"
[${1:`!v strftime("%F")`}](`!v strftime("%F")`.md) - $2\
endsnippet

# post_jump "if snip.tabstop==3: vim.command('Ztag')"
snippet zet "Create a zettelkasten note" b
# ${1:TITLE}

Status: #${2:do_notes}
Tags: $3

${4:NOTE TEXT}

## Links

## References
endsnippet
